<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./css/style.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
  </head>
  <body>
    <header class="header">
      <div class="first">
        <div class="logo-search">
          <img
            class="header--img"
            src="/images/logo-mercado-liebre.svg"
            alt=""
          />
          <div class="header--search">
            <input type="search" placeholder="Busca productos, marcas" />
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
        <div class="leyenda">
          <p class="header--text">
            <i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y
            sin tarjetas de credito
          </p>
        </div>
      </div>
      <div class="enlaces">
        <div class="nav">
          <ul class="nav--list">
            <li class="list--item"><a href="">Ofertas</a></li>
            <li class="list--item"><a href="">Tiendas Oficiales</a></li>
            <li class="list--item"><a href="">Vender</a></li>
            <li class="list--item"><a href="">Ayuda</a></li>
          </ul>
        </div>
        <div class="nav">
          <ul class="nav--list">
            <li class="list--item">
              <a href="/register"
                >Creá tu cuenta <i class="fa-regular fa-address-card"></i
              ></a>
            </li>
            <li class="list--item">
              <a href="/login"
                >Ingresá <i class="fa-solid fa-right-to-bracket"></i
              ></a>
            </li>
            <li class="list--item">
              <a href=""
                >Mis compras <i class="fa-solid fa-basket-shopping"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="nav--burgermenu">
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="banner">
        <img src="/images/img-home-banner.jpg" alt="" />
      </div>
      <!-- seccion de articulos visitados -->
      <h2 class="visita--titulo">Basado en tu última visita</h2>
      <section class="visita">
        <article class="articulo">
          <img class="imagen" src="/images/img-cafetera-moulinex.jpg" alt="" />
          <div class="info">
            <div class="circulo-envio">
              <i class="fa-solid fa-truck envio"></i>
            </div>
            <div class="precio-descuento">
              <div class="precio">$6.770</div>
              <div class="descuento">40% OFF</div>
            </div>
            <div class="nombre">Cafetera Moulinex</div>
          </div>
        </article>
        <article class="articulo">
          <img class="imagen" src="/images/img-macbook-pro-2019.jpg" alt="" />
          <div class="info">
            <div class="circulo-envio">
              <i class="fa-solid fa-truck envio"></i>
            </div>
            <div class="precio-descuento">
              <div class="precio">$230.000</div>
              <div class="descuento">20% OFF</div>
            </div>
            <div class="nombre">MacBook Pro 2019</div>
          </div>
        </article>
        <article class="articulo">
          <img class="imagen" src="/images/img-samsung-galaxy-s10.jpg" alt="" />
          <div class="info">
            <div class="circulo-envio">
              <i class="fa-solid fa-truck envio"></i>
            </div>
            <div class="precio-descuento">
              <div class="precio">$70.500</div>
              <div class="descuento">10% OFF</div>
            </div>
            <div class="nombre">Samsung Galaxy S10</div>
          </div>
        </article>
        <article class="articulo">
          <img class="imagen" src="/images/img-tv-samsung-smart.jpg" alt="" />
          <div class="info">
            <div class="circulo-envio">
              <i class="fa-solid fa-truck envio"></i>
            </div>
            <div class="precio-descuento">
              <div class="precio">$23.200</div>
              <div class="descuento">5% OFF</div>
            </div>
            <div class="nombre">SmarTV Samsung 43"</div>
          </div>
        </article>
      </section>
      <!-- seccion de articulos de oferta -->

      <h2 class="ofertas-titulo">Ofertas</h2>
      <section class="ofertas">
        <article class="articulo">
          <img class="imagen" src="/images/img-cafetera-moulinex.jpg" alt="" />
          <div class="info">
            <div class="circulo-envio">
              <i class="fa-solid fa-truck envio"></i>
            </div>
            <div class="precio-descuento">
              <div class="precio">$6.770</div>
              <div class="descuento">40% OFF</div>
            </div>
            <div class="nombre">Cafetera Moulinex</div>
          </div>
        </article>
        <article class="articulo">
          <img class="imagen" src="/images/img-macbook-pro-2019.jpg" alt="" />
          <div class="info">
            <div class="circulo-envio">
              <i class="fa-solid fa-truck envio"></i>
            </div>
            <div class="precio-descuento">
              <div class="precio">$230.000</div>
              <div class="descuento">20% OFF</div>
            </div>
            <div class="nombre">MacBook Pro 2019</div>
          </div>
        </article>
        <article class="articulo">
          <img class="imagen" src="/images/img-samsung-galaxy-s10.jpg" alt="" />
          <div class="info">
            <div class="circulo-envio">
              <i class="fa-solid fa-truck envio"></i>
            </div>
            <div class="precio-descuento">
              <div class="precio">$70.500</div>
              <div class="descuento">10% OFF</div>
            </div>
            <div class="nombre">Samsung Galaxy S10</div>
          </div>
        </article>
        <article class="articulo">
          <img class="imagen" src="/images/img-tv-samsung-smart.jpg" alt="" />
          <div class="info">
            <div class="circulo-envio">
              <i class="fa-solid fa-truck envio"></i>
            </div>
            <div class="precio-descuento">
              <div class="precio">$23.200</div>
              <div class="descuento">5% OFF</div>
            </div>
            <div class="nombre">SmarTV Samsung 43"</div>
          </div>
        </article>
      </section>
    </main>
    <section class="piedepagina">
      <footer class="footer">
        <div class="footer--box">
          <i class="fa-solid fa-credit-card"></i>
          <p class="box--titulo">Pagá con tarjeta o en efectivo</p>
          <p class="box--text">
            Con Mercado Liebre Cash, tenes cuotas sin interes con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>
        <div class="footer--box">
          <i class="fa-solid fa-gift"></i>
          <p class="box--titulo">Envio gratis desde $2.500</p>
          <p class="box--text">
            Solo por estar registrad@ en Mercado Liebre tenés envios gratis en
            miles de productos. Es un beneficio de Mercado Puntos
          </p>
        </div>
        <div class="footer--box">
          <i class="fa-solid fa-user-shield"></i>
          <p class="box--titulo">Seguridad, de principio a fin</p>
          <p class="box--text">
            ¿no te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@
          </p>
        </div>
      </footer>
      <div class="footer-copy">
        <p>Copyright 1999-2020 MercadoLiebre S.R.L</p>
      </div>
    </section>
  </body>
</html>
