* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
body {
  background-color: #ebebeb;
}
/*seccion de estilos del header */
.header {
  background-color: #eac926;
  padding-top: 2%;
  padding-bottom: 2%;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header--img {
  width: 50%;
}
.header--search {
  margin: 0 auto;
  position: relative;
  margin: 10px 10px;
  width: 100%;

  input {
    width: 100%;
    height: 30px;
  }
  i {
    position: absolute;
    font-size: 16px;
    right: 5px;
    top: 5px;
  }
}
.header--text {
  text-align: center;
}
.nav--burgermenu {
  margin: 0px auto;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
  width: 20px;
  padding: 10px;
  padding: 1%;
  background-color: #0503b4;
  border-radius: 25%;
}
.nav {
  display: none;
}
.nav--list li {
  color: black;
  list-style: none;
  a {
    color: black;
    text-decoration: none;
  }
}
/* seccion de estilos de login  */
.login {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  input {
    margin: 15px 0px 15px 0px;
    border-radius: 5px;
    height: 30px;
    width: 70%;
  }
  .boton-enviar {
    width: 150px;
    background-color: #020475;
    color: white;
  }
  .boton-enviar:hover {
    background-color: #0022aa;
  }
}
/* seccion de estilos del footer  */
.footer {
  display: flex;
  flex-direction: column;
  .footer--box {
    background-color: #fff;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #0e11ac;
  }
  i:hover {
    color: #0762c4;
  }
  .box--titulo {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
  }
  .box--text {
    font-size: 12px;
    text-align: center;
    margin: 0;
  }
}
.footer-copy {
  p {
    margin: 0;
    background-color: #fff;
    font-size: 12px;
    text-align: center;
  }
}
.icono:hover {
  color: #0762c4;
}

@media (min-width: 426px) {
  .articulo {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .nav {
    display: block;
  }
  .nav--burgermenu {
    display: none;
  }
  .first {
    flex-direction: row;
    .header--img {
      width: 50%;
    }
    .header--search {
      width: 50%;
    }
    .header--text {
      width: 30%;
    }
    .logo-search {
      width: 70%;
    }
    .leyenda {
      width: 30%;
      p {
        width: 100%;
      }
    }
  }
  .enlaces {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav--list {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
  }

  @media (min-width: 769px) {
    .enlaces {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .nav--list {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0 auto;
    }
    .list--item {
      margin: 0 10px;
    }
  }
  .login {
    input {
      margin: 20px 0px 20px 0px;
      height: 30px;
    }
  }
  .footer {
    flex-direction: row;
    width: 100%;
    margin: 0;
  }
  .footer-copy {
    margin: 0;
    background-color: #fff;
  }
}
